@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  /* border: #ffffff 2px solid; */
}
html {
  scroll-behavior: smooth;
  background-color: #0a0a0a;
  background-size: cover;
  background-position: center;
}
main {
  width: 100%;
  height: 102vh;
}
.nav_wrapper {
  height: 45vh;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7% 0;
}
.logo {
  font-size: 4.3rem;
  text-align: center;
}
.nav_wrapper .menuh {
  display: none;
  position: absolute;
  top: 4rem;
  right: 7%;
  width: 1.5rem;
  cursor: pointer;
}
.smaller {
  font-size: 1.1rem;
}
.purple {
  color: #983395;
}
.gradient {
  background: linear-gradient(white, #983395);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.7rem 0.5rem;
  margin-inline: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  background: #ffffff12;
}
a {
  text-decoration: none;
}

nav ul li:hover {
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.main {
  font-stretch: ultra-expanded;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  line-height: min(12vw, 12vh);
  margin: 0 15% 0;
}
.title_1 {
  font-size: 2.5rem;

}
.title_1b {
  text-align: right;
}
#section_2 {
  display: grid;
  place-items: center center;
  padding: 10vh 0;
}
.title_3 {
  font-size: 2rem;
  padding: 5vh 7% 10vh;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 2% 7%;
  grid-gap: 150px;
  z-index: -2;
}
.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.container {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card1 > .container:after {
  background-image: linear-gradient(135deg);
}
.card2 > .container:after {
  background-image: linear-gradient(135deg);
}
.card3 > .container:after {
  background-image: linear-gradient(135deg);
}
.card4 > .container:after {
  background-image: linear-gradient(135deg);
}
.card5 > .container:after {
  background-image: linear-gradient(135deg);
}
.card6 > .container:after {
  background-image: linear-gradient(135deg);
}
.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
#section_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7%;
}
.title_4 {
  font-size: 2rem;
  margin: 12vh 0;
}
.slider-1 {
  max-width: 500px;
  overflow: hidden;
  margin-bottom: 12vh 0;
  border-radius: 20px;
}
.slider-1 .slider {
  display: flex;
  animation: slider-1 15s infinite ease-in-out;
}
.slider-1 img {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
.para {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 13vh;
}
.pink {
  background: linear-gradient(90deg, #a477a3 0%, #d018ca 100%);
  filter: blur(900px);
  width: 50%;
  height: 45%;
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);

}
.pinkd {
  right: 0;
}




@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
@media screen and (max-width: 900px) {
  .smaller {
    font-size: 0.8rem;
  }
  .nav_wrapper {
    padding: 0;
  }
  .nav_wrapper .menuh {
    display: block;
  }
  .navlinks {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .navlinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
  }
  .nav_wrapper .navlinks ul li {
    margin: 25px, 0;
    font-size: 1.2rem;
  }
  .nav_wrapper .logo {
    top: 50px;
    left: 50px;
    font-size: 2.5rem;
  }
  .mobile-menu {
    margin-left: 0;
  }
  #section_3 {
    flex-direction: column;
  }
  .main {
    margin: 0 7%;
  }
}
